body{
    background-color: #3d587c;
    padding: 1vh 2vw;
}
#game{
    border: 5px solid aliceblue;
    border-radius: 5px;
}
.gameContent{
    width: 75vw;
    margin: 0 auto;
    height: fit-content;
    background-color: #FFFFE8;
    color: #12355B;
    display: flex;
    justify-content: center;
}
.gameInfo{
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    margin: 0;
}