body{
    background-color: #3d587c;
    padding: 0 5px;
}
#game{
    border: 5px solid aliceblue;
    border-radius: 5px;
}
.gameContent{
    width: 75vw;
    margin: 0 auto;
    height: fit-content;
    background-color: #FFFFE8;
    color: #12355B;
    display: flex;
    justify-content: center;
}
.gameInfo{
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    margin: 0;
}
#game{
    width: 300px;
    height: 250px;
}
@media screen and (min-width: 450px){
    #game{
        width: 430px;
        height: 320px;
    }
}
@media screen and (min-width: 768px){
    #game{
        width: 750px;
        height: 500px;
    }
}
@media screen and (min-width: 900px){
    #game{
        width: 880px;
        height: 600px;
    }
}
@media screen and (min-width: 1200px){
    #game{
        width: 1150px;
        height: 750px;
    }
}
@media screen and (min-width: 1024px){
    #game{
        width: 1000px;
        height: 800px;
    }
}
@media screen and (min-width: 1400px){
    #game{
        width: 1500px;
        height: 800px;
    }
}